@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject RoleManager<IdentityRole> RoleManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-white" asp-controller="Account" asp-action="Edit" title="Manage">您好 @User.Identity.Name!</a>
        </li>
        
        var user = await UserManager.GetUserAsync(User);
        if (await UserManager.IsInRoleAsync(user, "管理员"))
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-controller="Books" asp-action="Manage">管理</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="LogOut">退出登录</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">注册</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">登录</a>
        </li>
    }
</ul>
