		@using BookMS.Models.ViewModels
		@model ForgotPasswordConfirmation
		@{
		    ViewData["Title"] = "重置邮件";
		}
		
		<h1>@ViewData["Title"]</h1>
		@{
		    if (@Model.DisplayConfirmAccountLink)
		    {
		<p>
		    这个操作将会重置您的密码！
		    请点击<a id="confirm-link" href="@Model.EmailConfirmationUrl">这里</a>来重置您的密码
		</p>
		    }
		    else
		    {
		<p>
		        请检查您邮箱里的确认邮件。
		</p>
		    }
		}
