@using BookMS.Models.ViewModels
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "重置成功";
}

<h1>@ViewData["Title"]</h1>
<p>
    您的密码已重置. 请点击 <a asp-controller="Account" asp-action="Login">这里</a>登录.
</p>
