
<div class="mt-5">
    <dl class="row justify-content-center align-items-center">
        <dd class="col-3"></dd><h5 class="col-3">关于系统</h5><dd class="col-6"></dd>
        <dd class="col-3"></dd><p class="col-4">儿童图书借阅管理系统是一个致力于儿童图书借阅的系统，在系统里，用户可以借阅需要的图书，同时对自己的信息进行管理</p> <dd class="col-5"></dd>
    </dl>
    <dl class="row justify-content-center align-items-center mt-4">
        <dd class="col-3"></dd><h4 class="col-3">联系我们</h4><dd class="col-6"></dd>

        <dd class="col-3"></dd><h5 class="col-3 mt-3">广告投放合作</h5><dd class="col-6"></dd>
        <dd class="col-3"></dd><dd class="col-1">电子邮件</dd><dd class="col-3">Cooperation@advertise.cn</dd><dd class="col-5"></dd>
        <dd class="col-3"></dd><dd class="col-1">联系电话</dd><dd class="col-3">0872-842313069</dd><dd class="col-5"></dd>

        <dd class="col-3"></dd><h5 class="col-3 mt-3">市场推广、品牌合作</h5><dd class="col-6"></dd>
        <dd class="col-3"></dd><dd class="col-1">电子邮件</dd><dd class="col-3">Origin@promote.cn</dd><dd class="col-5"></dd>
        <dd class="col-3"></dd><dd class="col-1">联系电话</dd><dd class="col-3">0872-9651766718</dd><dd class="col-5"></dd>

        <dd class="col-3"></dd><h5 class="col-3 mt-3">技术合作</h5><dd class="col-6"></dd>
        <dd class="col-3"></dd><dd class="col-1">电子邮件</dd><dd class="col-3">Cooperation@technology.net</dd><dd class="col-5"></dd>
        <dd class="col-3"></dd><dd class="col-1">联系电话</dd><dd class="col-3">0872-5408204955</dd><dd class="col-5"></dd>

        <dd class="col-3"></dd><h5 class="col-3 mt-3">业务咨询</h5><dd class="col-6"></dd>
        <dd class="col-3"></dd><dd class="col-1">电子邮件</dd><dd class="col-3">Consult@business.com</dd><dd class="col-5"></dd>
        <dd class="col-3"></dd><dd class="col-1">联系电话</dd><dd class="col-3">0872-6246774729</dd><dd class="col-5"></dd>

        <dd class="col-3"></dd><h5 class="col-3 mt-3">其他事务</h5><dd class="col-6"></dd>
        <dd class="col-3"></dd><dd class="col-1">电子邮件</dd><dd class="col-3">Others@business.com</dd><dd class="col-5"></dd>
        <dd class="col-3"></dd><dd class="col-1">联系电话</dd><dd class="col-3">0872-7564853082</dd><dd class="col-5"></dd>
    </dl>
</div>
