@using BookMS.Models.ViewModels
@model UserRoleViewModel

@{
    ViewData["Title"] = "取消管理员";
    ViewData["ActivePage"] = AdminNavPages.RoleManage;
    Layout = "_AdminLayout";
}

<form role="form" method="post" asp-action="CancelAdminForUser">
    <input asp-for="RoleId" type="hidden"/>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label ">管理员</label>
        <div class="col-sm-8">
            <select class="form-control" asp-for="UserId" asp-items="@(new SelectList(Model.Users,"Id","UserName"))">
                <option>请选择管理员</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary col-sm-1">确定</button>
    </div>
    <div asp-validation-summary="ModelOnly"></div>
    
</form>