<div class="text-center" style="margin-top:7%;align-content:center">
    <h2>借阅失败！</h2>
    <h4 class="text-danger" style="margin-top:2%">您有逾期记录，请先处理！</h4>
    <a asp-action="MyBorrows"><div class="btn" style="background-color:#7173C2;margin-top:2%">确认</div></a>
</div>