@using BookMS.Models.ViewModels
@model List<BookMS.Models.ViewModels.DataViewModel>

@{
    ViewData["Title"] = "借阅情况分析";
    ViewData["ActivePage"] = AdminNavPages.AnalysisManage;
	ViewData["ActiveChart"] = BorrowNavPages.TypePie;
    Layout = "_AdminLayout";
}


	<script src="~/Echarts/dist/echarts.min.js"></script>
	<div id="main" style="width: 100%;height:120%;"></div>	
	<script type="text/javascript">		
		// 基于准备好的dom，初始化echarts实例
		var myChart = echarts.init(document.getElementById('main'));		
		// 指定图表的配置项和数据
		var option = {
			title: {
				text: '图书类型借阅情况',
				x:"left"
			},
			tooltip: {},
			series: [{
				name: '类型',
				type: 'pie',
				radius: '95%',
				data: [
				@foreach (var item in Model)
				{
					<text>
						{ value: '@item.Value', name: '@Html.Raw(item.Name)' },
					</text>
				}															
				]
			}]
		};		
		// 使用刚指定的配置项和数据显示图表。
		myChart.setOption(option);
	</script>

